<div id="container">
    <div id="header" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <h2> {{teamName}}</h2>
        <button mat-icon-button (click)="addPlayer()" matTooltip="Add player">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div [@listAnimation]="team.length" fxLayout="row wrap" fxLayoutGap="10px">
        <div *ngFor="let player of team; let indexOfArray=index;">
            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field>
                    <input style="text-align:center;" matInput [(ngModel)]="player.name" [value]="player.name">
                    <button mat-icon-button matTooltip="Delete player" (click)="deletePlayer(indexOfArray, player)">
                        <mat-icon class="deleteIcon" >delete</mat-icon>
                    </button>
                  </mat-form-field>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <button mat-icon-button (click)="updatePoints(indexOfArray, 10)">
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </button>
                    <p>{{player.score}}</p>
                    <button mat-icon-button  (click)="updatePoints(indexOfArray, -10)">
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <p *ngIf="team.length > 0" style=" text-align: center;"> Team score: {{calculateScore()}} </p>
</div>

