<div id="container">
    <div id="header" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <h2> {{teamName}}</h2>
        <button mat-icon-button (click)="addPlayer()">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <div class="team" fxLayout="row wrap" fxLayoutGap="10px">
        <div *ngFor="let player of team; let indexOfArray=index;">
            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-form-field>
                    <input style="text-align:center;" matInput [(ngModel)]="player.name" [value]="player.name">
                  </mat-form-field>
                <button mat-icon-button (click)="updatePoints(indexOfArray, 10)">
                    <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <p>{{player.score}}</p>
                <button mat-icon-button  (click)="updatePoints(indexOfArray, -10)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <p style=" text-align: center;"> Team score: {{calculateScore()}} </p>
</div>

